body {
    margin: 0;
    font-family: Arial;
    background-color: white;
}
.header {
    background-color: pink;
    padding: 10px;
    display: flex;
    align-items: center;
}
.logo {
    color: orange;
    font-size: 22px;
    font-weight: bold;
    margin-right: 20px;
}
.header input {
    width: 300px;
    padding: 6px;
}
.header button {
    padding: 6px 10px;
    margin-left: 5px;
}
.navbar {
    background-color: darkblue;
    padding: 10px;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}
.product-section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.product {
    background-color: white;
    width: 200px;
    margin: 10px;
    padding: 15px;
    border: 1px solid lightgray;
    text-align: center;
}

.product img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.product button {
    background-color: orange;
    border: none;
    padding: 8px;
    cursor: pointer;
}


.footer {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 10px;
}