.one{
    color:black;
    text-align:center;

}
.two{
    height:300px;
    width:300px;
    margin-left:90px ;
}
.alpha{
    height:600px;
    width: 500px;
    border:3px black solid;
    margin-left:380px;
    

}
.six{
    background-color: blue;
    margin-left: 180px;
}
.five{
    color:red;
    text-align: center;
}
.three{
    color: black;
    text-align: center;
}
.four{
    color: black;
    text-align: center;
}