.alpha{
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    

}
.box{
    background-color: lightblue;
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
    margin: 10px;
}
.a{
    text-align: center;
    color: black;
}
.alpha{
    height: 120px;
    width: 600px;
    border: 2px solid black;
    margin-left: 320px;
}