.alpha{
    display: grid;
    grid-auto-flow: row;
    gap: 8px;
    

}
.box{
    background-color: lightblue;
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    margin: 10px;
}
.a{
    text-align: center;
    color: black;
}
.alpha{
    height: 650px;
    width: 200px;
    border: 2px solid black;
    margin-left: 500px;
}