body{
    background-color: black;
    color: white;
}
.A{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.8;
}
.one{
    position: relative;
}
.logo{
    top: 20px;
    left: 40px;
    position: absolute;
    width: 150px;
    z-index: 10;
}
.button1{
    top: 20px;
    right: 40px;
    position: absolute;
    width: 70px;
    z-index: 10;
    background-color: red;
}
.language{
    top: 20px;
    right: 150px;
    position: absolute;
    width:100px;
    z-index: 10;
}
.B{
    z-index: 2;
    text-align: center;
    top: 50%;
    width: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 60px;
    font-weight: bold;
    margin-left: 600px;
    margin-top: -50px;
}
.C{
    z-index: 2;
    top: 50%;
    width: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-left: 750px;
    margin-top: 40px;
}
.D{
    z-index: 2;
    top: 50%;
    width: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 630px;
    margin-top: 80px;
}
.Email{
   top: 450px;
    left: 400px;
    position: absolute;
    width: 250px;
    z-index: 10;
    background-color: white;
    height: 30px;
}
.button2{
    background-color: red;
    top: 450px;
    left: 670px;
    position: absolute;
    width: 150px;
    z-index: 10;
    height: 30px;
    
}